<article>
    <div class="profile-container">
        <div class="profile__img-container">
            <img class="profile__img" src="../assets/images/jpg/profile-pic.jpg" loading="lazy">
        </div>
        <div class="profile__name-box">
            <p class="name">Alex Poputa</p>
            <p class="job">Front End Developer</p>
        </div>
        <div class="profile__contact-box">
            <a class="contact__link" href="mailto:poputa.alex@gmail.com">poputa.alex@gmail.com</a>
            <a class="contact__link" href="tel:+40751930923">+40(751) 930 923</a>
            <a class="contact__link" href="#" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a class="contact__link" href="#" target="_blank" rel="noopener noreferrer">Github</a>
        </div>
        <address>
            <p>Cluj-Napoca | RO</p>
        </address>
    </div>

</article>