<article>
    <div class="profile-container">
        <div class="profile__img-container">
            <img class="profile__img" src="../assets/images/jpg/profile-pic.jpg" loading="lazy">
        </div>
        <div class="profile__name-box">
            <p class="name">Alex Poputa</p>
            <p class="job">Front End Developer</p>
        </div>
        <div class="profile__contact-box">
            <a class="contact__link" href="mailto:poputa.alex@gmail.com"><svg class="email-logo logo contact__logo">
                    <use href="../assets/images/svg/symbol-defs.svg#icon-mail"></use>
                </svg>
                <p class="contact__text"> poputa.alex@gmail.com</p>
            </a>
            <a class="contact__link" href="tel:+40751930923"><svg class="phone-logo logo contact__logo">
                    <use href="../assets/images/svg/phone-icon.svg#icon-mobile"></use>
                </svg>
                <p class="contact__text"> +40(751) 930 923</p>
            </a>
            <a class="contact__link" href="https://www.linkedin.com/in/alex-poputa-007b4919b" target="_blank"
                rel="noopener noreferrer"><svg class="linked-logo logo contact__logo">
                    <use href="../assets/images/svg/phone-icon.svg#icon-linkedin2"></use>
                </svg>
                <p class="contact__text"> LinkedIn</p>
            </a>
            <a class="contact__link" href="https://github.com/PPTZZ" target="_blank" rel="noopener noreferrer"><svg
                    class="git-logo logo contact__logo">
                    <use href="../assets/images/svg/social-media-icons.svg#icon-github"></use>
                </svg>
                <p class="contact__text"> GitHub</p>
            </a>
        </div>
        <address class="location">
            <p>
            <svg class="location-logo logo">
                    <use href="../assets/images/svg/symbol-defs.svg#icon-location"></use>
                </svg>Cluj-Napoca | RO</p>
        </address>
    </div>

</article>