<article class="modal__container hidden">
  <div class="modal">
    <button class="modal__close-btn">✖</button>
    <div class="modal__img-container">
      <img class="modal__img" />
    </div>
    <div class="modal__text-container">
      <h2 class="modal__title">Title</h2>
      <p class="modal__label">Description:</p>
      <p class="modal__descr modal__text">Descr</p>
      <p class="modal__label">Tech:</p>
      <p class="modal__tech modal__text">Tech</p>
      <p class="modal__label">Link:</p>
      <a
        class="modal__link modal__text"
        href="#"
        target="_blank"
        rel="noopener noreferrer"
      ></a>
    </div>
  </div>
</article>
